soundfile
numpy
torch
torchvision
torchaudio
tokenizers
encodec
vocos
langid
unidecode
pyopenjtalk
pypinyin
inflect
cn2an
jieba
eng_to_ipa
jieba
SudachiPy
sudachidict_core
nltk
openai-whisper
phonemizer
matplotlib
psutil
transformers
gradio
fastapi
firebase-admin
azure-storage-blob
azure-identity
python-dotenv
